<h1>Browse through all lists</h1>

<%= form_tag lists_path, method: :get do %>
    <%= search_field_tag :search, nil, placeholder: "Search for a list" %>
    <%= submit_tag "Search", name: nil %>
<% end %>

<% if flash[:message] %>
    <br><%= flash[:message] %><br>
    <br><%= render "application/flash_messages" %>

    <%= link_to "Would you like make one?", new_list_path %><br>
<% end %>

<br><br>

<% @lists.each do |list| %>
    <%= link_to list.title, list_path(list) %><br>
<% end %>