<div class="container mt-5">
  <div class="row">
    <h1 class="page_title"><%= @list.title %></h1>
  </div>
  <div class="row list_details nopadding">
    <%= @list.description %>
  </div>
  <div class="row list_details mt-3">
    <div class="d-flex flex-row align-items-center">
      <span id="list_creator">Creator:</span>
      <%= link_to "@#{@list.user.username}", user_path(@list.user), class: "custom_link" %>
    </div>
  </div>
  <% if @list.user == current_user %>
    <div class="row mt-2">
      <div class="d-flex flex-row align-items-center">
        <%= link_to "Edit", edit_list_path(@list), {class: "btn list_edit_btn"} %>
        <%= button_to "Delete", list_path(@list), method: :delete, class: "btn list_delete_btn" %>
      </div>
    </div>
    <div class="row mt-4">
      <%= form_tag list_path(@list), method: :get do %>
        <div class="input-group">
          <%= search_field_tag :search, nil, placeholder: "Search for a movie to add to list", id: "movie_list_search", class: "form-control" %>
          <%= submit_tag "Search", name: nil, class: "btn movie_list_btn" %>
        </div>
      <% end %>
    </div>
    <% if params[:search] %>
      <% @movies.each do |movie| %>
        <div class="row mt-3">
          <div class="d-flex flex-row align-items-center">
            <%= movie.title %> (<%= movie.year %>)
            <%= button_to "Add", list_movie_add_path(list_id: @list.id, movie_id: movie.id), class: "btn list_add_btn" %>
          </div>
        </div>
      <% end %>
      <div class="row mt-4">
        <div class="container flash_msg_container">
          <% if flash[:message] %>
            <%= render "application/flash_messages" %>
          <% else %>
          </div>
          <small>If you can't find the movie you're looking for, it's not in our database yet. <%= link_to "Click here to add it!", new_movie_path %></small><br>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
<div class="container list_container my-5">
  <div class="table-responsive text-nowrap">
    <table class="table table-hover table-borderless">
      <thead>
        <tr>
          <th scope="col" class="table_header">TITLE</th>
          <th scope="col" class="table_header">YEAR RELEASED</th>
          <th scope="col" class="table_header">GENRE</th>
          <% if @list.user == current_user %>
            <th scope="col"></th>
          <% end %>
        </tr>
      </thead>
      <% @list.movies.each do |movie| %>
        <tbody>
          <tr>
            <td><%= link_to movie.title, movie_path(movie), class: "custom_link" %></td>
            <td><%= movie.year %></td>
            <td><%= movie.genre %></td>
            <% if @list.user == current_user %>
              <td><%= button_to "Delete", list_movie_delete_path(list_id: @list.id, movie_id: movie.id), method: :delete, class: "btn list_delete_btn" %></td>
            <% end %>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
</div>
