<!-- <% @movie_genres.each do |movie| %>
    <%= movie.genre %>
<% end %> -->

<%= form_with url: movies_path, method: :get do |form| %>
    <%= form.collection_radio_buttons :genre_id, @movie_genres, :id, :genre %>
    <%= form.submit "Filter" %>
<% end %>

<h2>Newest Releases</h2>

<% @newest_movies.each do |movie| %>
    <%= link_to "#{movie.title} (#{movie.year})", movie_path(movie) %>
    <br>
<% end %>