<!-- <% @movie_genres.each do |movie| %>
    <%= movie.genre %>
<% end %> -->
<p>Filter by Genre</p>
<%= form_with url: movies_path, method: :get do |form| %>
    <%= form.collection_radio_buttons :genre_name, @movie_genres, :genre, :genre %>
    <%= form.submit "Filter", name: nil %>
<% end %>
<br>

<%= form_tag movies_path, method: :get do %>
    <%= label_tag "Search by Title" %>
    <%= search_field_tag :search %>
    <%= submit_tag "Search", name: nil %>
<% end %>
<br>

<% if flash[:message] %>
    <%= flash[:message] %><br>
    Would you like <%= link_to "add it", new_movie_path %>?
<% end %>

<% if params[:genre_name] || params[:search] %>
    <% @movies.each do |movie| %>
        <%= link_to "#{movie.title} (#{movie.year})", movie_path(movie) %>
        <br>
    <% end %>
    <br>
    <small>If you can't find the movie you're looking for, it's not in our database yet. <%= link_to "Click here to add it!", new_movie_path %></small>
<% else %>
    <h2>Newest Releases</h2>

    <% @newest_movies.each do |movie| %>
        <%= link_to "#{movie.title} (#{movie.year})", movie_path(movie) %>
        <br>
    <% end %>
<% end %>
