<h1>Add a New Movie</h1>
<p><small>⚠️ You won't be able to edit it later, so make sure all the information is correct! ⚠️</small></p>

<%= render partial: "application/error_messages", locals: { term: @movie } %>

<%= form_for @movie do |f| %>
  <p><%= f.text_field :title, placeholder: "Title" %></p>
  <p><%= f.collection_select :genre, @movie_genres, :genre, :genre, {prompt: "Choose the genre"} %></p>
  <p><%= f.text_field :genre, placeholder: "Don't see the genre? Add it here!" %></p>
  <p><%= f.text_field :year, placeholder: "Year" %></p>
  <%= f.submit "Add" %>
<% end %>