<h1>Add a New Movie</h1>
<%= form_for @movie do |f| %>
    <p><%= f.text_field :title, placeholder: "Title" %></p>
    <p><%= f.text_field :genre, placeholder: "Genre" %></p>
    <p><%= f.text_field :year, placeholder: "Year" %></p>
    <%= f.submit "Add" %>
<% end %>