<h1><%= @movie.title %></h1>
Genre: <%= @movie.genre %><br>
Released: <%= @movie.year %><br>
Overall Rating: ⭐️ <%=  star_rating(@movie) %><br>

<%= link_to "Add a Review", new_movie_review_path(@movie) %><br>

<h2>Featured in these lists</h2>
<ul>
    <% @movie.lists.each do |list| %>
        <li><%= link_to list.title, list_path(list) %></li>
    <% end %>
</ul>

<h2>Reviews</h2>
<%= render "reviews/movie_reviews" %>
<%= link_to "Click here to see more reviews", movie_reviews_path(@movie)%>