<h1>Edit your profile</h1>

<%= render partial: "application/error_messages", locals: { term: @user } %>

<%= form_for @user do |f| %>
    <p><%= f.text_field :first_name, placeholder: "First Name" %></p>
    <p><%= f.text_field :last_name, placeholder: "Last Name" %></p>
    <p><%= f.text_field :username, placeholder: "Username" %></p>

    <p><%= f.submit "Edit" %></p>
<% end %>
