<% if @user.errors.any? %>
  <div id="error_explanation">
    <h3>Oops! Looks like we've got a couple errors here:</h3>

    <ul>
      <% @user.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h1>Edit your profile</h1>

<%= form_for @user do |f| %>
    <p><%= f.text_field :first_name, placeholder: "First Name" %></p>
    <p><%= f.text_field :last_name, placeholder: "Last Name" %></p>
    <p><%= f.text_field :username, placeholder: "Username" %></p>

    <p><%= f.submit "Edit" %></p>
<% end %>
