<% if @current_user %>
    <h1>Hello, <%= @user.first_name %> <%= @user.last_name %>!</h1>
<% end %>

Hello!

<!-- <h1><%= @user.first_name %> <%= @user.last_name %></h1> -->

<%= form_tag logout_path do %>
    <%= submit_tag "Log Out"%>
<% end %>