<div class="row">
  <div class="col">
    <%= f.text_field :title, placeholder: "Title", class: "form-control" %>
    <br>
  </div>
  <div class="col">
    <%= f.label :rating, class: "form-label" %> (1-5)
    <%= f.number_field :rating, {class: "form-control", min: 1, max: 5} %>
  </div>
</div>
<div class="row">
  <%= f.label :comment, class: "form-label" %>
  <%= f.text_area :comment, class: "form-control" %>
</div>
