<h1>Reviews by</h1>
<%= @user.username %>
<br><br>
<% @reviews.each do |review| %>
    <p><%= link_to review.movie.title, movie_path(review.movie) %></p>
    <strong><%= review.title %></strong><br>
    ⭐️ <%= review.rating %>/5<br>
    <%= review.comment %>
<% end %>