<h1>Reviews by</h1>
<%= @user.username %>
<br><br>
<% @reviews.each do |review| %>
    <p><strong><%= review.movie.title %></strong></p>
    <%= review.title %><br>
    <%= review.rating %>/5<br>
    <%= review.comment %>
<% end %>