<a class="navbar-brand" href="<%= user_path(current_user) %>">
    <img src="film.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
    pilim
</a>

<a href="<%= user_path(current_user) %>">pilim</a>
<a href="<%= lists_path %>">All Lists</a>
<a href="<%= movies_path %>">All Movies</a>
<%= button_to "Log Out", logout_path %>
