<a class="navbar-brand" href="<%= root_path %>">
    <img src="film.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
    pilim
</a>
<a href="<%= lists_path %>">All Lists</a>
<a href="<%= movies_path %>">All Movies</a>
<div class="navbar-nav navbar-right">
    <a class="nav-item nav-link mx-3" href="<%= login_path %>">Log In</a>
    <a class="nav-item nav-link mx-3" id="sign_up_link" href="<%= signup_path %>">Sign Up</a>
</div>
